html{
	font-size : 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
	font-family : 'Merriweather', serif; /* this should be the rest of the output you got from Google fonts */
	background-color : #000000;
}

body
{
	width : 1450px;
	margin : 0 auto;
	background-color : #000000;
	padding : 0 20px 20px 20px;
	border : 5px solid #ABF353;
}

h1{
	font-size : 60px;
	text-align : center;
	margin : 0;
	padding : 20px 0;
	color : #FFFFFF;
	text-shadow : 3px 3px 1px #ABF353;
}

p, li{
	font-size : 16px;
	line-height : 2;
	color : #FFFFFF;
	letter-spacing : 1px;
}

img{
	
	margin : 0 auto;
}